 body {
  margin: 0;
  padding: 0;
  background-color: #fff1e6;
} 

a {
  text-decoration: none;
  color: black;
}

.burger_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.sidenav {
  position: fixed;
  background-color: #ecdcd0;
  height: 100%;
  width: 0; /*ИСПРАВИТЬ НА НОЛЬ, А В JS СДЕЛАТЬ 250*/
  z-index: 1; /* Оставайтесь сверху */
  top: 0; /* Оставайтесь наверху */
  left: 0;
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Поместите контент в 60px сверху */
  transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);

  background-image: url(./img/pngfuel.аеп\ ррcom\ \(25\).png);
  background-repeat: no-repeat;
  /* background-position: top; */
  background-position: right;
  background-size: cover;
  /* background-size: contain; */
}

.sidenav a:hover {
  color: #8e9aaf;
}

.sidenav250 {
  width: 250px;
}

.common_menu_link {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #474129;
  display: block;
  transition: 0.3s;
  margin: 5px;
  background-color:#a5a58d79;
}

.menu_footer {
  position: absolute;
  bottom: 65px;
  /* Центрирование */
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 32px 8px 32px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.menu_icon_link {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 11px;
  /* background-color: ivory; */
}

.main_content {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  color: #8e9aaf;
  transition: margin-left .5s;
  padding: 20px;
}

.main_content250 {
  margin-left: 260px;
}

.wrap {
  flex: 1 1 auto;
  border: 1px solid #8e9aaf;
  flex-flow: column nowrap;
  height: 100vh;
  display: flex;
}