 body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255,232,214);
  background: linear-gradient(0deg, rgba(255,232,214,1) 0%, rgba(165,165,141,1) 100%);
} 

a {
  text-decoration: none;
  color: black;
}

.burger_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.sidenav {
  position: fixed;
  background-color: inherit;
  height: 100%;
  width: 0; /*ИСПРАВИТЬ НА НОЛЬ, А В JS СДЕЛАТЬ 250*/
  z-index: 1; /* Оставайтесь сверху */
  top: 0; /* Оставайтесь наверху */
  left: 0;
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Поместите контент в 60px сверху */
  transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);

  background-image: url(./img/pngfuel.аеп\ ррcom\ \(25\).png);
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
  /* background-size: cover; */
}

.sidenav a:hover {
  color: #000000;
}

.sidenav250 {
  width: 250px;
}

.common_menu_link {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #474129;
  display: block;
  transition: 0.3s;
  margin: 5px;
  background-color:#a5a58d79;
}

.menu_footer {
  position: relative;
  /* position: absolute; */
  /* bottom: -40%; */
  /* Центрирование */
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 32px 8px 32px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.menu_icon_link {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 11px;
}

.main_content {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  transition: margin-left .5s;
  padding: 20px;
}

.main_content250 {
  margin-left: 260px;
}

.wrap {
  flex: 1 1 auto;
  border: 1px solid #8e9aaf;
  flex-flow: column nowrap;
  height: 100vh;
  display: flex;
}

.about_temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.158);

  background-image: url(./img/weather-forecasting-climate-weather-map-world-weather-map-4e9bd774e45ae24e0c73edd53537323d.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px;

  border: 1px solid #8e9aaf;
  border-radius: 20px;
  padding: 10px;
}

.temp {
  font-size: 30px;
}